---
/**
 * Dialogue: Back-and-forth dialogue block.
 * For Socratic dialogues, debates, or Q&A-style exchanges.
 *
 * Usage:
 *   <Dialogue>
 *     <Turn speaker="Ateo">¿Por qué hay sufrimiento si Dios existe?</Turn>
 *     <Turn speaker="Creyente">La posibilidad del mal es inseparable de la libertad...</Turn>
 *   </Dialogue>
 */
---

<div class="my-12 space-y-0 border-l-2 border-border-subtle ml-4">
  <slot />
</div>
