---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  frontmatter: {
    title: string;
    subtitle?: string;
    category?: string;
    sidebarTitle?: string;
    sidebarContent?: string;
    sidebarFooter?: string;
  };
}

const { frontmatter } = Astro.props;
const {
  title,
  subtitle,
  category = "Página",
  sidebarTitle,
  sidebarContent,
  sidebarFooter,
} = frontmatter;
---

<Layout title={`${title.replace(/<br\s*\/?>/gi, " ")} - Cristianamente`}>
  <Header />

  <main class="py-24 min-h-screen">
    <article class="w-full">
      <!-- Header -->
      <header class="text-center mb-16 md:mb-24 px-6 max-w-7xl mx-auto">
        {
          category && (
            <span class="text-secondary font-bold tracking-widest uppercase text-xs mb-4 block">
              {category}
            </span>
          )
        }
        <h1
          class="text-5xl md:text-8xl font-display font-black text-primary mb-8 leading-[1.05] tracking-tighter"
          set:html={title}
        />
        {
          subtitle && (
            <p class="max-w-2xl mx-auto text-xl text-text opacity-80 font-serif leading-relaxed">
              {subtitle}
            </p>
          )
        }
        <div class="w-24 h-1 bg-secondary mx-auto mt-12"></div>
      </header>

      <slot />
    </article>
  </main>
  <Footer />
</Layout>
